{% load static %}{% comment %} 讓 Django 載入靜態檔案 {% endcomment %}  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container">
          {% comment %} DONE index.html {% endcomment %}  
          <a class="navbar-brand" href={% url "index" %}>
            {% comment %} DONE logo.png {% endcomment %}
            <img src={% static "img/logo.png" %} class="logo" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              {% comment %} <Links> Index {% endcomment %} 
              <li {% if '/' == request.path %} 
              class="nav-item active mr-3" {% comment %} Alway light up HOME {% endcomment %} 
              {% else %}
              class="nav-item mr-3"
              {% endif %}
              >
                {% comment %} DONE index.html {% endcomment %} 
                <a class="nav-link" href={% url "index" %}>Home</a>
              </li>
              {% comment %} <Links> Index {% endcomment %} 
              <li {% if 'about' in request.path %} {% comment %} Light up {% endcomment %} 
              class="nav-item active mr-3"
              {% else %}
              class="nav-item mr-3" {% comment %} Off light {% endcomment %} 
              {% endif %}
              >
                {% comment %} DONE about.html {% endcomment %} 
                <a class="nav-link" href={% url "about" %}>About</a>
              </li>
              <li class="nav-item mr-3">
                {% comment %} DONE register.html {% endcomment %} 
                <a class="nav-link" href="register.html">Featured Listings</a>
              </li>
            </ul>
  
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mr-3">
                <a class="nav-link" href="register.html">
                  <i class="fas fa-user-plus"></i> Register</a
                >
              </li>
              <li class="nav-item mr-3">
                {% comment %} fix login.html {% endcomment %}
                <a class="nav-link" href="login.html">
                  <i class="fas fa-sign-in-alt"></i>
  
                  Login</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>